name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Required for setuptools_scm to find tags

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install libomp

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.5
        env:
          # Configure cibuildwheel to build for Python 3.8+
          CIBW_SKIP: "cp36-* cp37-* pp*"
          
          # Linux: Use manylinux_2_28 (AlmaLinux 8) which has GCC 8.5+ (supports C++17/20 better)
          # Actually, for full C++20 <bit> support we might need GCC 10+.
          # manylinux_2_28 has GCC 8.5 by default.
          # Let's try to use the default but if it fails we might need to install a newer compiler.
          # However, manylinux2014 is definitely too old (GCC 9/10 via devtoolset might work but 2_28 is safer).
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_28
          
          # macOS: Help CMake find OpenMP
          CIBW_BEFORE_BUILD_MACOS: "brew install libomp"
          CIBW_ENVIRONMENT_MACOS: >
            CFLAGS="-Xpreprocessor -fopenmp -I/opt/homebrew/opt/libomp/include -I/usr/local/opt/libomp/include"
            CXXFLAGS="-Xpreprocessor -fopenmp -I/opt/homebrew/opt/libomp/include -I/usr/local/opt/libomp/include"
            LDFLAGS="-L/opt/homebrew/opt/libomp/lib -L/usr/local/opt/libomp/lib -lomp"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  publish_to_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pycauset
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
